/* Tablet */

@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 90%;
  }
  .nav-links li a {
    font-size: 80%;
  }
  footer p {
    padding-right: 2em;
    padding-left: 2em; 
  }
  footer {
    padding-top: 20px;
  }
}

/* Phone */

@media only screen and (max-width: 768px) {
  
}
