/* Tablet */

@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 95%;
  }
  .nav-links li a {
    font-size: 90%;
  }
  .footer-links {
    padding-right: 5px;
    padding-left: 5px; 
  }
  footer {
    padding-top: 30px;
  }
}

/* Phone */

@media only screen and (max-width: 768px) {
  
}
