/*
 ▄▀▀▄▀▀▀▄  ▄▀▀▄▀▀▀▄  ▄▀▀▀▀▄         ▄█  ▄▀▀█▄▄▄▄  ▄▀▄▄▄▄   ▄▀▀▀█▀▀▄ 
█   █   █ █   █   █ █      █  ▄▀▀▀█▀ ▐ ▐  ▄▀   ▐ █ █    ▌ █    █  ▐ 
▐  █▀▀▀▀  ▐  █▀▀█▀  █      █ █    █      █▄▄▄▄▄  ▐ █      ▐   █     
   █       ▄▀    █  ▀▄    ▄▀ ▐    █      █    ▌    █         █      
 ▄▀       █     █     ▀▀▀▀     ▄   ▀▄   ▄▀▄▄▄▄    ▄▀▄▄▄▄▀  ▄▀       
█         ▐     ▐               ▀▀▀▀    █    ▐   █     ▐  █         
▐                                       ▐        ▐        ▐         
 ▄▀▀▄ ▄▄   ▄▀▀▄ ▄▀▀▄  ▄▀▀█▄▄                                        
█  █   ▄▀ █   █    █ ▐ ▄▀   █                                       
▐  █▄▄▄█  ▐  █    █    █▄▄▄▀                                        
   █   █    █    █     █   █                                        
  ▄▀  ▄▀     ▀▄▄▄▄▀   ▄▀▄▄▄▀                                        
 █   █               █    ▐                                         
 ▐   ▐               ▐                                              
*/
/* General */
body {
    margin: 0;
    font-family: 'Montserrat', Courier, monospace;
    text-decoration: none;
    scrollbar-width: 0;
}
#incomplete, #incompatible {
	display: none;	
}
/* Widebox */
/* Description Box w/ Mobile Fix */
@media only screen and (max-width: 850px) {
    .desc-box h2 {
        font-size: 22px;
    }
    .desc-box p {
        font-size: 18px;
    }
}
@media only screen and (min-width: 850px) {
    .desc-box p {
        font-size: 22px;
    }
}
.desc-box {
    width: 100%;
    height: auto;
    background: linear-gradient(#708CA8, #5d7994);
    padding: 50px 50px;
}
.desc-box h2, .desc-box p {
    text-align: center;
    color: #ffffff;
}

/* Navbar */
.nav {
    background: linear-gradient(to bottom, #708CA8, #5d7994);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}
.nav button {
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1vw;
    border-style: none;
    background-color: transparent;
    font-size: 2.5vh;
}
.nav button a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', Courier, monospace;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .nav {
        flex-wrap: wrap;
    }
    .nav button {
        flex: 1 1 100%;
        padding: 0.25rem 1rem;
        margin: 1vh 0;
        font-size: 2vh;
    }
    #mobile-removables, #mobile-removables a {
        display: none;
    }
    .hvr-underline-from-center:before {
        height: 2px;
    }
    .active:before {
        height: 2px;
    }
}

/* Header Image */
.img-header {
    width: 100%;
}

/* Footer */
.footer {
    left: 0;
    bottom: 0;
    background-color: #64829e;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}
.footer-link a {
    text-decoration: none;
    padding: 5px 10px;
}
.footer-link {
    margin-top: 15px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .footer {
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}