/* Google Form */
.form-container {
    margin: 2vw 6vw;
    display: flex;
}
.form-box {
    background-color: #708CA8;
    border-radius: 1vw;
    width: 75vw;
    margin: 0 1vw;
}
.form-title {
    font-family: 'Montserrat', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
}
.form {
    background-color: white;
    max-height: 25vw;
}
@media screen and (max-width: 1200px) {
    .form-container {
        display: block;
    }
    .form-box {
        width: 100%;
    }
    .form {
        max-height: 45vw;
    }
    .form-title {
        padding-top: 2vw;
    }
}
@media screen and (max-width: 768px) {
    .form {
        max-height: 125vw;
    }
}

/* Email */
.email-container {
    text-align: center;
    margin: 2vw;
}
.email-container h2 {
    font-weight: bold;
}
.email-container h2 a {
    font-weight: normal;
}
@media screen and (max-width: 1000px) {
    .email-container {
        margin: 5vw;
    }
    .email-container p {
        margin: 0 10vw;
    }
}