/* Game Grid */
.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}
.game-item {
    text-align: center;
}
.game-item img {
    height: 200px;
    width: auto;
}
.game-item a {
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;
}
@media screen and (max-width: 1200px) {
    .game-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .game-item img {
        height: 160px;
    }
    .game-item a {
        font-size: 2.5vh;
    }
}
@media screen and (max-width: 768px) {
    .game-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .game-item img {
        height: 140px;
    }
    .game-item a {
        font-size: 2.2vh;
    }
}